<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <app-spinner [spinner]="cargando"></app-spinner>

  <div *ngIf="!cargando" class="animate__animated animate__fadeIn ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <a *ngFor="let pro of productos" [routerLink]="['/item', pro.cod]" class="rk-item ae-masonry__item">
      <img alt="" src="assets/productos/{{ pro.url }}.jpg">
      <div class="item-meta">
        <h2>{{ pro.titulo }}</h2>
        <p>{{ pro.categoria }}</p>
      </div>
    </a>
  </div>
</section>

